.recomendImg {
  height: 100px;
  width: 180px;
}

.scroll {
  overflow-x: scroll;
  white-space: nowrap;
}


.scroll2 {
  display: inline-block;
}

.btn-details {
  bottom: 0px;
  position: fixed;
}

.hidden {
  display: none;
}